# history files
.Rhistory
.Rapp.history

# session data files
.RData
.RDataTmp

# user-specific files
.Ruserdata

# r cache
*_cache/

# r project file
.Rproj.user
.Rproj.user/

# ignore scratch folder
scratch/

# ignore results folder
Results/
